* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #2C2B3D;
    color: #fff;
    height: 100vh;
}

#page {
    width: 1092px;
    margin: 0 auto;
    padding-top: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

nav ul,
section h1,
footer {
    font-family: 'JetBrains Mono', sans-serif;
}

nav ul {
    display: flex;
    gap: 64px;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px; 
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #C2C2C2;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 77px;
    margin-bottom: 100px; 
}

section {
    width: 614px;
    text-align: center;
}

section h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 59px;
}

section h1 span {
    color: #00BFA6;
}

section p {
    color: #C2C2C2;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}

section p+p {
    margin-top: 20px;
}

section p span {
    color: #00BFA6;
    font-weight: bold;
}

footer {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}

#line {
    width: 568px;
    height: 0;
    margin: 0 auto 27px;
    border: 1px solid #00BFA6;
}

#padlock {
    position: fixed;
    bottom: 20px;
    left: 20px;
}